{% load staticfiles %}
<html>

<head>
    <title>
        Pencarian Buku
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" ntegrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="{% static 'js/library.js' %}"></script>
</head>

<body>
    <h1>Welcome! </h1>
    <h3>Find Your Favorite Book Here</h3>
    <div class='searchbar' style="width: 20rem;">
        <div class="input-group mb-3">

            <input type="text" class="form-control" id="search-query" placeholder="Search book tile or keywords">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit" onclick="getQuery()" id="button-addon1">Search</button>
            </div>
        </div>
    </div>
    <div class="shelf" style="margin: auto;height: 100%;width: 100%;">
        <table id="book" class="table table-hover table-responsive table-da rk" style="margin: auto;">
            <thread>
                <tr>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                </tr>
            </thread>
        </table>
    </div>
</body>