{% extends 'story9.html' %} {% load crispy_forms_tags %} {% block content %}
<h1>Create new account </h1>
<div style="padding-left: 3rem;padding-right: 3rem;">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{form|crispy}}
            </div>
            <div class="col">

            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>

    </form>
</div>
{% endblock %}