<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'story7/style.css' %}">
  <script>
  $( function() {
    $("#accordion").accordion();
    heightstyle = "content";
  } );
  </script>
</head>
<body>

<!-- Rounded switch -->
<label class="switch">
  <input id="theme" type="checkbox">
  <span class="slider round"></span>
</label>

<div id="accordion">
  <h3>Who Am I?</h3>
  <div>
    <p>
    Hi! My name is Nadia and I am a Information System Student 
    currently studying University Of Indonesia.
    </p>
  </div>
  <h3>What are my dreams?</h3>
  <div>
    <p>
    I have a dream to sleep 8 hours/day.
    </p>
  </div>
  <h3>tugas</h3>
  <div>
    <p>
    banyak
    </p>
    <ul>
      <li>ppm</li>
      <li>sda</li>
      <li>ppw</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
    mauris vel est.
    </p>
    <p>
    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos.
    </p>
  </div>
  <script src="{% static 'story7/change_theme.js' %}"></script>
</div>
</body>
</html>