<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<title>
    Welcome
</title>

</head>

<body>
    {% block content %} {% if user.is_authenticated%}
    <h1> Hello {{request.user.first_name}} {{request.user.last_name}}</h1>
    <a href="{% url 'story9:logout' %}"> logout </a> {% else %}
    <h1> Hello! please Login or Register down below </h1>
    <a href="{% url 'story9:login' %}"> Login </a> <br>
    <a href="{% url 'story9:register' %}"> Register </a> {% endif %} {% endblock %}
</body>